<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyVirtualComPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyVirtualComPort.Properties.Settings>
            <setting name="textBoxIfSend1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead7" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend7" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend8" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead8" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead9" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend9" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend10" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead10" serializeAs="String">
                <value />
            </setting>
            <setting name="name1" serializeAs="String">
                <value />
            </setting>
            <setting name="name2" serializeAs="String">
                <value />
            </setting>
            <setting name="name3" serializeAs="String">
                <value />
            </setting>
            <setting name="name4" serializeAs="String">
                <value />
            </setting>
            <setting name="name5" serializeAs="String">
                <value />
            </setting>
            <setting name="name6" serializeAs="String">
                <value />
            </setting>
            <setting name="name7" serializeAs="String">
                <value />
            </setting>
            <setting name="name8" serializeAs="String">
                <value />
            </setting>
            <setting name="name9" serializeAs="String">
                <value />
            </setting>
            <setting name="name10" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonPressureA" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonPressureB" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonPressureC" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonTempA" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonTempB" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonTempC" serializeAs="String">
                <value />
            </setting>
            <setting name="addToTextboxIfSend1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfRead11" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIfSend11" serializeAs="String">
                <value />
            </setting>
            <setting name="name11" serializeAs="String">
                <value />
            </setting>
            <setting name="COMM" serializeAs="String">
                <value />
            </setting>
        </MyVirtualComPort.Properties.Settings>
    </userSettings>
</configuration>